# pandasの主要な関数

In [2]:
import pandas as pd

## CSVファイルを読み込む

In [5]:
pd.read_csv("sample1.csv")

   id column1 column2
0   1   data1   hoge1
1   2   data2   hoge2
2   3   data3   hoge3

In [8]:
# 1行目をヘッダとして扱わない場合
pd.read_csv("sample1.csv",header=None)

    0        1        2
0  id  column1  column2
1   1    data1    hoge1
2   2    data2    hoge2
3   3    data3    hoge3